<!-- <input type="file" multiple="false"/> -->
<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
<!-- <div>

    
    <input type="file" class="file-upload" (change)="onFileChange($event)">
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
  </div>

<div class="file-upload">

    {{fileName || "No file uploaded yet."}}
 
     <button mat-mini-fab color="primary" class="upload-btn"
       (click)="fileUpload.click()"> 
                 attach_file
     </button>
 </div> -->
<div>
    <input (change)="selectFile($event)" type="file" />
    <button (click)="uploadFile()" class="btn">Upload</button>
</div>
<div>
    <h1>
        Data of the excelsheet:
    </h1>
    <table>
        <tbody>
            <tr *ngFor="let row of datas">
                <td *ngFor="let cell of row">
                    {{cell}}
                </td>

            </tr>
        </tbody>
    </table>
</div>